html.__fb-dark-mode {
    --header-height: 0px;
}

/* fix icon colors */
html.__fb-dark-mode .x1p6odiv path {
    color: var(--primary-icon);
    fill: currentcolor;
}

/* fix call icons in the chat window */
html.__fb-dark-mode .xep6ejk {
    filter: invert(1);
}

/* fix search close button */
html.__fb-dark-mode .x14hiurz {
    background: var(--secondary-button-background) !important;
    color: var(--secondary-button-text) !important;
}
