/* Main chat window */
html.__fb-dark-mode .xcrg951 {
    background-color: var(--container-color) !important;
}

/* Fix some broken colors in dark mode instead of observing for DOM changes */
.__fb-dark-mode .__fb-light-mode {
    --wash: #3E4042;
    --surface-background: #3E4042;
    --overlay-alpha-80: var(--base-twenty);
    --shadow-inset: var(--base-five);
    --card-background: var(--container-dark-color);
    --divider: var(--list-header-color);
    --primary-icon: var(--always-white);
    --secondary-text: var(--base-fifty);
    --secondary-button-background: var(--base-ten);
    --mwp-reply-background-color: var(--comment-background) !important;
}

/* Main chat window: zoom */
/* TODO: make dynamic */
[role=main] [role=grid] {
    zoom: 1.2 !important;
    border: none !important;
}
