:root {
    --shai-zoom-level: 1;
}

/* Zoom level */
[role=navigation] [role=grid], [role=main] [role=grid] {
    zoom: var(--shai-zoom-level) !important;
}

/* Make chat list more narrow */
.x1cvmir6 {
    width: calc(300px * var(--shai-zoom-level)) !important;
}
