:root {
    --shai-zoom-level: 1;
    --scrollbar-display: none;
}

/* zoom level */
[role=main] [role=grid] {
    zoom: var(--shai-zoom-level) !important;
}

/* make chat list more narrow */
.x1cvmir6 {
    width: 300px !important;
}

/* fix chat list for smaller window sizes */
@media (max-width: 900px) {
    .x1cvmir6 {
        width: 88px !important;
    }
}

/* remove right padding in chat list and hide border */
.xsyo7zv {
    padding-right: 0px !important;
}
.xdppsyt {
    border-bottom: none !important;
}

/* fix chat list search padding */
.x1swvt13 {
    padding-left: 6px !important;
}
.x1pi30zi {
    padding-right: 12px !important;
}

/* fix login screen padding */
._3v_o {
    padding-bottom: 0 !important;
}
